<table class="table table-striped">
  <thead>
    <tr>
      <th>email</th>
      <th>전</th>
      <th>승</th>
      <th>패</th>
      <th>무</th>
			<th>공격포인트</th>
			<th>미드필드포인트</th>
			<th>수비포인트</th>
			<th>키퍼포인트</th>
			
      <th>총</th>
			<th>레벨</th>
    </tr>
  </thead>
  <tbody>
    
			<tr>
        <td><%= link_to @user.email, user_path(@user) %></td>
        <td><%= @user.record %></td>
        <td><%= @user.win %></td>
				<td><%= @user.loss %></td>
				<td><%= @user.tie %></td>
				<td><%= @user.forwardpoint %></td>
				<td><%= @user.midfieldpoint %></td>
				<td><%= @user.backpoint %></td>
				<td><%= @user.keeperpoint %></td>
				<td><%= @user.point %></td>
				<td><%= @user.level %></td>
      </tr>
		
  </tbody>
</table>

<%= profile_photo(@user, :small, 60) %>
<%= link_to "프로필 사진", new_user_photo_path(@user) %>


